/Build/
/Configuration/Settings.yaml.example
/Configuration/Production
/Configuration/Development
/Data/*
/Packages/Application/*
/Packages/Framework/
/Packages/Libraries/
!/Packages/Application/RobertLemke.Example.Bookshop
/bin/
/Upgrading.rst
/flow
/flow.bat
/Web/index.php
/Web/.htaccess
/Web/_Resources
.sass-cache
/Readme.rst
/Readme.txt
