/Build/
/Configuration/Settings.yaml.example
/*/Configuration/Production
/*/Configuration/Development
/*/Data/*
/*/.Docker/mariadb/*
/Packages/Application/*
/Packages/Framework/
/Packages/Libraries/
!/Packages/Application/RobertLemke.Example.Bookshop
/bin/
/Upgrading.txt
/Upgrading.rst
/flow
/flow.bat
/Web/index.php
/Web/.htaccess
/Web/_Resources
/.sass-cache
/.Docker/eventstore
/.Docker/secrets
/.Docker/composer
/Readme.rst
/Readme.txt
