<f:layout name="Default" />

<f:section name="Title">Overview</f:section>

<f:section name="Content">
	<f:if condition="{books}">
		<f:then>
			<p>We have this fine selection of a handful of books. Buy them while you still can.</p>
			<table class="table table-bordered table-striped" style="width: 500px">
				<f:for each="{books}" as="book">
					<tr>
						<td>
							<f:link.action action="show" arguments="{book: book}">{book.title}</f:link.action>
						</td>
						<td style="width: 40px">
							<f:link.action action="edit" arguments="{book: book}"><i class="icon-edit"></i></f:link.action>
							<f:link.action action="delete" arguments="{book: book}"><i class="icon-trash"></i></f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>No books created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action class="btn" action="new"><i class="icon-plus"></i> Create a new book</f:link.action></p>
</f:section>