<f:layout name="Default"/>

<f:section name="Title">Overview</f:section>

<f:section name="Content">
	<f:if condition="{books}">
		<f:then>
			<p>We have this fine selection of a handful of books. Buy them while you still can.</p>
			<div class="span12">
				<ul class="thumbnails">
					<f:for each="{books}" as="book">
						<li class="span3">
							<div class="thumbnail">
								<f:if condition="{book.image}">
									<f:then><img src="{f:uri.resource(resource: book.image)}" width="300" alt="" /></f:then>
									<f:else><img src="http://placehold.it/300x300" width="300" height="300" alt="" /></f:else>
								</f:if>
								<div class="caption">
									<h5><f:link.action action="show" arguments="{book: book}">{book.title}</f:link.action></h5>
									<p>{book.category.name}</p>
									<p>{book.description}</p>
									<p><strong><f:format.number>{book.price}</f:format.number> €</strong> <f:link.action class="btn pull-right"><i class="icon-shopping-cart"></i> Add to Basket</f:link.action></p>
									<f:link.action action="edit" arguments="{book: book}"><i class="icon-edit"></i></f:link.action>
									<f:link.action action="delete" arguments="{book: book}"><i class="icon-trash"></i></f:link.action>
								</div>
							</div>
						</li>
					</f:for>
				</ul>
			</div>
		</f:then>
		<f:else>
			<p>No books created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action class="btn" action="new"><i class="icon-plus"></i> Create a new book</f:link.action></p>
</f:section>